{# Copyright lowRISC contributors (OpenTitan project).
Licensed under the Apache License, Version 2.0, see LICENSE for details.
SPDX-License-Identifier: Apache-2.0 #}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <title>TL_AGENT Simulation Results</title>
<style type="text/css">.results tr:hover {background-color:#f2f2f2 !important}
.results tbody tr:nth-child(even) {background:#f2f2f2 !important}</style></head>
<body>
<div class="results" style="font-family:&quot;Trebuchet MS&quot;, Arial, Helvetica, sans-serif; margin:0 auto; max-width:960px; padding-left:40px; padding-right:40px; padding-top:15px; position:relative; width:80%" width="80%">
<h2 style="padding-bottom:15px; text-align:center" align="center">TL_AGENT Simulation Results</h2>
<h3 style="padding-bottom:15px; text-align:center" align="center">Thursday September 05 2024 16:08:34 UTC</h3>
<h3 style="padding-bottom:15px; text-align:center" align="center">GitHub Revision: <a href="https://github.com/lowrisc/opentitan/tree/282749973692721fa6150cb0ae70217fec04ed63"><code>2827499736</code></a></h3>
<h3 style="padding-bottom:15px; text-align:center" align="center">Branch: otdv</h3>
<h3 style="padding-bottom:15px; text-align:center" align="center"><a href="https://opentitan.org/book/hw/dv/sv/tl_agent/data/tl_agent_testplan.html">Testplan</a></h3>
<h3 style="padding-bottom:15px; text-align:center" align="center">Simulator: VCS</h3>
<h3 style="padding-bottom:15px; text-align:center" align="center">Test Results</h3>
<table style="border:1px solid #f2f2f2; border-collapse:collapse; display:table; margin:2% auto; table-layout:auto; text-align:center; vertical-align:middle; width:90%" align="center" valign="middle" width="90%">
<thead>
<tr>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Stage</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Name</th>
<th align="left" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Tests</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Max Job Runtime</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Simulated Time</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Passing</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Total</th>
<th align="center" style="background-color:#3D1067; color:white; padding-bottom:12px; padding-top:12px; text-transform:uppercase; border:1px solid #f2f2f2; padding:8px" bgcolor="#3D1067">Pass Rate</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px">Unmapped tests</td>
<td align="left" style="border:1px solid #f2f2f2; padding:8px">tl_agent_smoke</td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px">1</td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px">1</td>
<td class="c10" align="center" style="background-color:#57EF57; color:#000; border:1px solid #f2f2f2; padding:8px" bgcolor="#57EF57">100.00</td>
</tr>
<tr>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="left" style="border:1px solid #f2f2f2; padding:8px"><strong>TOTAL</strong></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px"></td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px">1</td>
<td align="center" style="border:1px solid #f2f2f2; padding:8px">1</td>
<td class="c10" align="center" style="background-color:#57EF57; color:#000; border:1px solid #f2f2f2; padding:8px" bgcolor="#57EF57">100.00</td>
</tr>
</tbody>
</table>
</div>

</body></html>
